/*.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
*/

/*.body{
     width:80%;
	margin-right: auto;
    margin-left: auto;
	}*/
	
	.navbar .navbar-toggler{
		margin-right:0;
			
		}	
		#content2 .row img{
	max-width:75%;}

.content6 ul li::before {
  content: "\2022";
  color: #eb9711;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

	.navbar .navbar-brand{
		
		color:#004f9e;
		font-size:24px;
		font-weight:bold;
		
		}
		.navbar-nav .nav-link{
			font-size:0.5em;
			color:#3c413c;
			
			}
			
		.btn{
			color:#FFF;}
			.head-content{
				position:absolute;
    width: 39%;
    height: 40%;
    margin-left: 13%;
    margin-top: 10%;
    padding-left: 3%;
    padding-top: 3%;
				background-color:rgba(255,255,255,0.7);}
/*----------cusom css---------*/

a, a:visited {
/*	text-decoration: none;
	color: #FFF;*/
}

.head {
	background-image: url(../images/header.png);
	background-size: 100% 100%;
/*	background-attachment: fixed;*/
	height: 550px;
}

.container .head ul li {
	display: inline;
	float: left;
	width: 60px;
}
.container .head ul li a:hover {
	color: #fed136;
}

figure {
	display: inline-block;
/*	border: 1px gray;*/
	margin: 5px; /* adjust as needed */
}
.figure {
	display: block;
/*	border: 1px gray;*/
	 /* adjust as needed */
}
figure img {
/*	vertical-align: top;*/
}
.figure-caption {
	/*font-size:70%;*/
	/*	text-align: center;*/
	
}


		#content2 .row p{
	max-width:69%;}

		
	.content7 a{
	display:none;
	}

/*----------serv css ------END---*/
/*----------cont css ------start---*/
.cont {
	/*height:500px;
	width:90%;*/
	background-image: url(../images/cover-footer.png);
	background-size: 100% 100%;
	background-position: center center;
}
.content6 {
	height:500px;
	/*width:90%;*/
	background-image: url(../images/iso.png);
	background-size: 100% 100%;
	background-position: center center;
}
.content6 .btn{
	margin-left:35%;
	
	
	}
#content8 h1, h6 {
	/*padding-top: 80px;*/
	color: #FFF;
}

.content7{
	
	height:360px;
	}
form .form-control {
	
	margin-top: 10px;
	/*	vertical-align: middle;*/


}
.txt {
	margin-left: auto;
	margin-right: auto;
}
.mesg-btn {
	margin-top: 50px;
}
#content4 h1 , h6 {
	
	
}
#content8 h1 , h6 {
	
	color:#FFF;
}
#content2 .row {
	height:300px;
}

.footer {
	height:45px;
	/*width:90%;*/
	background-image: url(../images/foot.png);
	background-size: 100% 100%;
	background-position: center center;
}
/*----------cont css ------END---*/
/*----------cusom css------END---*/
.centering {
	float: none;
	margin: 0 auto;
}
 @media only screen and (max-width : 767px) and (min-width : 250px) {
#content2 .row{
	height:auto;
	text-align:center;
}
#content2 .row img{
	max-width:90%;}
		#content2 .row p{
	max-width:100%;}
#content2 .btn{
	width:90%;
	align-self:center;
}
#content2 img{
	margin:2%;
}
 #content4 img{
	width:40%;
	}
.content7{
	
	height:auto;
	}
	.content7 a{
	display:block;
	}
		.content7 .map{
	display:none;
	}
.head-content{
				
    width: 85%;
    height: 90%;
    margin-left: 3%;
    margin-top: 3%;
    padding-left: 3%;
    padding-top: 3%;
			}


.container .head ul {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}


figure figcaption {
	display:inline-block;
	font-size:60%;
	
	
}
.head {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height:200px;
	text-align:center;
	
}

	.navbar .navbar-toggler{
				
			
		}
 }

